apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: worker
  name: 90-aro-worker-registries
spec:
  config:
    ignition:
      version: 2.2.0
    storage:
      files:
      - contents:
          source: "{{ .AROWorkerRegistries }}"
        filesystem: root
        mode: 420
        path: /etc/containers/registries.conf
